.Navbar {
  display: flex;
  /* margin: 5px; */
  padding: 5px;
  /* border: 1px solid bl  */
  height: 50px;
  background-color: #2c3346;
}
.Title {
  width: 20%;
  /* border: 1px solid black; */
  margin: 2px;
  padding: 3px;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  color: white;
}
.Navigation {
  width: 70%;
  /* border: 1px solid black; */
  margin: 2px;
  display: flex;
  justify-content: center;
}
.Nav {
  width: 15%;
  margin: 2px;
  padding: 2px;
  cursor: pointer;
  color: white;
  /* border: 1px solid black; */
}
.Nav:hover {
  color: blue;
}
.Aboout {
  position: relative;
  height: 250px;
  border: 1px solid black   ;
  background-image: url("../assets/download.webp");
  background-size: cover;
  background-position: center;
}


.Aboout::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.75); 
}
.WebName{
height: 30px;

/* border: 1px solid black; */
text-align: center;
margin-top: 70px;
margin-bottom: 10px;
position: relative;
  z-index: 1;

}
.Paragraph{
  margin: 20px;
    text-align: center;
    position: relative;
  z-index: 1;
}
.AboutButton{
    text-align: center;
    /* border: 1px solid black */
   
    ;
}
.GetStartedButton{
    background-color: blue;
    position: relative;
  z-index: 1;
  color: white;
}
.services{
/* border: 1px solid black    */
height: 300px;
text-align: center;
align-items: center;
justify-content: center;
padding: 10px;
background-color: azure;

 
}
.ServicesCard {
  display: flex;
  width: 300%;             
  animation: cardSlide 9s infinite;
}

.card {
  width: 100%;
  flex-shrink: 0;
  height: 200px;
  margin: 30px;
  background-color: rgb(250, 241, 230);
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}


.services {
  overflow: hidden;
}


@keyframes cardSlide {
  0%   { transform: translateX(0); }
  33%  { transform: translateX(-50%); }
  66%  { transform: translateX(-150%); }
  100% { transform: translateX(10); }
}


.ServicesCard:hover {
  animation-play-state: paused;
}
.CardInfo{
    margin-top: 20px;
    font-size: 13px;
}
.CardButton{
    margin-top: 10px;
    background-color: blue;
    color: white;
}
.footer{
    height: 40px;
    border: 1px solid black;
    background-color: #2c3346;
    text-align: center;
   padding-top: 9px;
}


@media (min-width: 300px) and (max-width: 700px) {
    .Navbar {
  display: flex;
  /* margin: 5px; */
  padding: 5px;
  /* border: 1px solid bl  */
  height: 50px;
  background-color: #2c3346;
}
.Title {
  width: 33%;
  /* border: 1px solid black; */
  margin: 2px;
  padding: 3px;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  color: white;
}
.Navigation {
  width: 70%;
  /* border: 1px solid black; */
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.Nav {
  width: 10%;
  font-size: 10px;
  margin: 2px;
  padding: 2px;
  cursor: pointer;
  color: white;
 
  /* border: 1px solid black; */
}
.Nav:hover {
  color: blue;
}

.Aboout {
  position: relative;
  height: 220px;
  border: 1px solid black   ;
  background-image: url("../assets/download.webp");
  background-size: cover;
  background-position: center;
}

/* overlay to reduce image opacity */
.Aboout::before {
  
 
  background-color: rgba(255, 255, 255, 0.75); 
}
.WebName{
height: 30px;

/* border: 1px solid black; */
text-align: center;
margin-top: 30px;
margin-bottom: 10px;
position: relative;
  z-index: 1;

}
.Paragraph{
  /* margin: 20px; */
    text-align: center;
    position: relative;
    font-size: 10px;

}
.AboutButton{
   
    height: 30px;

    /* border: 1px solid black */
   
    ;
}
.GetStartedButton{
    background-color: blue;
   
  color: white;
  height: 100%;
  font-size: 9px;
  align-items: center;
  /* border: 1px solid black; */

 
 
 
}
.services{
/* border: 1px solid black    */
height: 300px;
text-align: center;
align-items: center;
justify-content: center;
padding: 10px;
background-color: azure;

 
}
.ServicesCard {
  display: flex;
  width: 300%;             
  animation: cardSlide 9s infinite;
}

.card {
  width: 100%;
  flex-shrink: 0;
  height: 200px;
  margin: 30px;
  background-color: rgb(250, 241, 230);
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}


.services {
  overflow: hidden;
}


@keyframes cardSlide {
  0%   { transform: translateX(0); }
  33%  { transform: translateX(-50%); }
  66%  { transform: translateX(-150%); }
  100% { transform: translateX(10); }
}


.ServicesCard:hover {
  animation-play-state: paused;
}
.CardInfo{
    margin-top: 20px;
    font-size: 13px;
}
.CardButton{
    margin-top: 10px;
    background-color: blue;
    color: white;
}
.footer{
    height: 40px;
    border: 1px solid black;
    background-color: #2c3346;
    text-align: center;
   padding-top: 9px;
}




}
@media (min-width: 700px) and (max-width: 1136px) {


    .Paragraph{
  /* margin: 20px; */
    text-align: center;
    position: relative;
    font-size: 12px;
    }
}