.light {
  background-color: #ffffff;
  color: #000000;
  height: 100vh;
  padding: 40px;
  background-color: antiquewhite;
}

.dark {
  background-color: #121212;
  color: #ffffff;
  height: 100vh;
  padding: 40px;
}

input, button {
  display: block;
  margin: 10px 0;
  padding: 8px;
}

button {
  cursor: pointer;
 margin: auto;
}

Form {
  
  display: flex;
  flex-direction: column;   
  justify-content: center;  
  align-items: center;      
  height: 50vh;   
  background-color: aqua;  
  width: 50%;     
  margin-left: 350px;
  margin-top: 100px;  
  border-radius: 20px;
}

  

